@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Chewy&family=Fugaz+One&family=Mitr&family=Sriracha&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

body{
    padding: 0px;
    margin: 0px;
}

ul{
    list-style: none;
}

nav ul{
    display: flex;
}

a{
    text-decoration: none;
}

#nav-con{
    width: 100%;
    height: 100%;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    box-shadow: 5px 10px 18px #888888;
}

nav ul li a{
    margin: 20px;
    color: black;
    font-size: 150%;
    
}

nav a{
    color: black;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 150%;
    margin-bottom: 20px;
}

#logo{
    color: black;
    font-family: 'Norican', cursive;
    font-size: 250%;
}


/*---------------n=1---------------*/
.wel-con p:nth-child(1){
    font-size: 90px;
    position: absolute;
    left: 210px;
    bottom: 320px;
    transition: 2s;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
}
/*-----------n=2------------------*/
.wel-con p:nth-child(2){
    font-size: 50px;
    position: absolute;
    left: 20px;
    top: 280px;
    transition: 2s;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
}

.wel-con p:nth-child(2):hover{
    left: 40px;
}
/*-----------n=3------------------*/
.wel-con p:nth-child(3){
    font-size: 70px;
    position: absolute;
    left: 350px;
    top: 190px;
    transition: 2s;
    cursor: pointer;
}

.wel-con p:nth-child(3):hover{
    left: 380px;
}
/*-----------n=4------------------*/
.wel-con p:nth-child(4){
    font-size: 70px;
    position: absolute;
    left: 350px;
    top: 300px;
    transition: 2s;
    cursor: pointer;
}

.wel-con p:nth-child(4):hover{
    left: 380px;
}
/*-----------n=5------------------*/
.wel-con p:nth-child(5){
    font-size: 70px;
    position: absolute;
    left: 100px;
    top: 420px;
    transition: 2s;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
}

.wel-con p:nth-child(5):hover{
    left: 140px;
}
/*-----------n=6------------------*/
.wel-con p:nth-child(6){
    font-size: 70px;
    position: absolute;
    left: 300px;
    top: 250px;
    transition: 2s;
    cursor: pointer;
}

.wel-con p:nth-child(6):hover{
    left: 310px;
}

.gif-sec img:nth-child(1){
    position: absolute;
    top: 130px;
    left: 930px;
    height: 150px;
}

.gif-sec img:nth-child(2){
    position: absolute;
    top: 310px;
    left: 1060px;
    height: 150px;
}

.gif-sec img:nth-child(3){
    position: absolute;
    top: 500px;
    left: 950px;
    height: 150px;
}

#egg{
position: absolute;
left: 280px;
top: 130px;
font-size: 15px;
font-family: 'Caveat', cursive;
}
